@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif; 
}

.main-card {
    background-color: hsl(0, 0%, 12%);
    max-width: 400px;
    border-radius: 10px;
    padding: 18px;
}

.link {
    display: block;
    color: #fff;
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    max-width: 100%;
    margin-top: 12px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
    transition: ease 0.2s;
}

.link:hover {
    background-color: hsl(75, 94%, 57%);
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile__pic {
    border-radius: 10px;
    margin-bottom: 17px;
    height: 200px;
    object-fit: cover;
}

.local {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

.profile__bio {
    font-size: 14px;
    font-weight: 400;
}

.user-name {
    font-weight: 700;
}

.profile__info {
    margin-bottom: 20px;
}